.line {
  flex: 0 0 1.25rem;
  height: 2px;
  background-color: #e5e7eb;
  border-radius: 9999px;
  transition: background-color 250ms ease;
  display: inline-block;
}

.lineCompleted {
  flex: 0 0 1.25rem;
  height: 2px;
  background-color: #059669;
  border-radius: 9999px;
  transition: background-color 250ms ease;
  display: inline-block;
}

.clickableWrapper {
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  width: auto;
  max-width: max-content;
}

.clickableWrapper s-clickable {
  display: inline-flex;
  align-items: center;
  width: auto;
  max-width: max-content;
  flex-shrink: 0;
}
